@font-face {
    font-family: "Tron";
    src: url("tron-font/Tron-JOAa.ttf");
}

:root{
    --background-color: #030504;
    --board-color: #002236;/* #193F4B; */
    --gradient-color: linear-gradient(180deg, #000024 0%, rgb(0, 10, 30) 50%, #000024 100%);
    --border-color: #FFFFFE;
    --player-color: #F5AF2E;
    --enemy-color: #7EFDFE;
    --font-color: #B2ECFF;
}

body{
    height: 90vh;
    width: 90vw;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: "Tron";
    color: var(--font-color);
}

#board{
    width: 80vmin;
    height: 80vmin;
    background-color: var(--board-color);
    background: var(--gradient-color);
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    box-shadow:  0px 0px 10px rgba(0,0,0), 10px 10px 500px -40px var(--enemy-color);
}

.container-start{
    grid-area:  11/ 1 / 11 / 22;
    text-align: center;
}

.player-block{
    background-color: var(--player-color);
}

.enemy-block{
    background-color: var(--enemy-color);
}

.faded-one{
    opacity: 0.3;
}

.faded-two{
    opacity: 0.2;
}

#status-bar{
    width: 80vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blink {
    animation: blinker 1s linear infinite;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }