@font-face {
    font-family: "Tron";
    src: url("tron-font/Tron-JOAa.ttf");
}

:root{
    --background-color: #030504;
    --board-color: #002236;/* #193F4B; */
    --gradient-color: linear-gradient(180deg, rgba(0,63,80,1) 0%, rgba(0,63,96,1) 50%, rgba(0,63,121,1) 100%);
    --border-color: #FFFFFE;
    --player-color: #F5AF2E;
    --enemy-color: #7EFDFE;
    --font-color: #B2ECFF;
}

body{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: "Tron";
    color: var(--font-color);
}

#board{
    width: 90vmin;
    height: 90vmin;
    background-color: var(--board-color);
    background: var(--gradient-color);
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.player-block{
    background-color: var(--player-color);
}

.enemy-block{
    background-color: var(--enemy-color);
}

.faded-one{
    opacity: 0.3;
}

.faded-two{
    opacity: 0.2;
}