@font-face {
    font-family: "Pokemon";
    src: url("pokemon/Pokemon\ Hollow.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: "Pokemon";
    color: aliceblue;
}

main {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    min-height: 100vh;
    background: #F1000F;
    background: linear-gradient(180deg, rgb(0, 0, 0) 50%, #F1000F);
    padding-top: 1rem;
}

/* h1 {
    margin-top: 1rem;
} */

.board {
    
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1.3fr));
    gap: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    max-width: 800px;
}

.card {
    border: 1px solid black;
    padding: 10px;
    height: 100%;
    width: 100%;
    padding-top: 130%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.flipped {
    transform: rotateY(180deg);
    background-image: url('images/flipped.png') !important;
}

.flipped:hover {
    cursor: pointer;
}

#resetButton{
    padding: 5px;
    margin-bottom: 1rem;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}

#resetButton:hover{
    cursor: pointer;
}